In [0]:
rdd=sc.textFile('/FileStore/tables/sharemarket.csv')

In [0]:
rdd.take(5)

Out[2]: ['N,N1,IRFC,BOND 8.00% PA TAX FREE S1,1086,1085,1085,1084.54,1085,3371959.44,3108, ,8,1194,1050',
 'N,N1,JNPT,BOND 6.82% PA TAX FREE S1,1001,1007.1,1015,1007.1,1015,51370,51, ,2,1529.99,1000',
 'N,N1,NHAI,BOND 8.20% PA TAX FREE S1,1091.38,1092,1092,1087,1089.98,3861145.49,3544, ,39,1140,1045',
 'N,N1,NTPC,8.41%S-R-NCD SERIES 1A,1198.99,1135,1135,1135,1135,113500,100, ,1,1275,1022.1',
 'N,N1,RECLTD,TAXFREE SEC NCD TR1 S1,1083.54,1088,1088,1085,1085,108530,100, ,2,1184.8,1041']

In [0]:
rdd1 = rdd.map(lambda row: row.split(','))

In [0]:
df = spark.createDataFrame(data = rdd1, schema = ['MARKET','SERIES','SYMBOL','SECURITY','PREV_CL_PR','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','CLOSE_PRICE','NET_TRDVAL','NET_TRDQTY','CORP_IND','TRADES','HI_52_WK','LO_52_WK'])
df.show()

+------+------+----------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|MARKET|SERIES|    SYMBOL|            SECURITY|PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVAL|NET_TRDQTY|CORP_IND|TRADES|HI_52_WK|LO_52_WK|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|     N|    N1|      IRFC|BOND 8.00% PA TAX...|      1086|      1085|      1085|  1084.54|       1085|3371959.44|      3108|        |     8|    1194|    1050|
|     N|    N1|      JNPT|BOND 6.82% PA TAX...|      1001|    1007.1|      1015|   1007.1|       1015|     51370|        51|        |     2| 1529.99|    1000|
|     N|    N1|      NHAI|BOND 8.20% PA TAX...|   1091.38|      1092|      1092|     1087|    1089.98|3861145.49|      3544|        |    39|    1140|    1045|
|     N|    N1|      NTPC|8.41%S-R-NCD SERI...|   1198.99|      1135|      1135|     1135|       1135|    113500|       100|        |     1|    1275|  1022.1|
|     N|    N1|    RECLTD|TAXFREE SEC NCD T...|   1083.54|      1088|      1088|     1085|       1085|    108530|       100|        |     2|  1184.8|    1041|
|     N|    N2| BRITANNIA|   8.00% SEC RED NCD|     33.07|     33.07|      33.2|     32.8|      33.14| 677372.39|     20461|        |   107|      36|    29.9|
|     N|    N2|     HUDCO|8.20 NCD05MAR27 F...|      1215|      1222|      1222|     1222|       1222|      3666|         3|        |     2|    1311|    1171|
|     N|    N2|     IIFCL|  8.66% TAX FREE NCD|      1135|      1137|      1137|     1137|       1137|      4548|         4|        |     1|    1390|  1101.1|
|     N|    N2|    M&MFIN| 9.00% UNSECURED NCD|      1104|   1101.98|   1101.98|  1080.05|    1089.43|  423116.5|       388|        |    12|    1229|  1049.5|
|     N|    N2|    NABARD|7.64% TAX FREE TR...|    1238.5|   1239.01|   1239.55|  1237.01|    1238.22| 125060.45|       101|        |     4|  1304.8|    1181|
|     N|    N2|      NHAI|BOND 8.30% PA TAX...|    1258.5|    1255.5|      1257|   1253.1|    1256.45|  464590.5|       370|        |     6|  1294.9|    1176|
|     N|    N2|      NTPC|8.48%S-R-NCD SERI...|      1282|    1282.5|      1283|   1282.5|       1283|    128275|       100|        |     2|    1854|    1225|
|     N|    N2|     PCHFL|SEC RE NCD 8.35% ...|      1000|      1000|   1004.67|     1000|    1001.68| 526800.91|       526|        |    17|    1028|  981.01|
|     N|    N2|    RECLTD|TAXFREE SEC NCD T...|      1207|      1192|      1192|     1192|       1192|    238400|       200|        |     1|    1288|    1160|
|     N|    N2|TATACAPHSG|SEC RED NCD 8.10%...|   1054.21|   1055.01|      1058|     1055|       1058| 1105942.5|      1048|        |    42|    1160|     950|
|     N|    N3| BRITANNIA| UNSEC RED NCD 5.50%|     29.43|      29.4|      29.7|    29.38|      29.47|4233217.99|    143810|        |   787|    30.5|      29|
|     N|    N3|DHANILOANS|DHANI LOANS & SER...|      1008|      1002|      1003|     1002|       1003|     78158|        78|        |     5|    1030|     810|
|     N|    N3|     HUDCO|8.10 NCD 05MAR22 ...|   1054.84|   1054.84|    1055.9|  1054.52|    1054.91|1729096.92|      1639|        |    19|    1320|    1000|
|     N|    N4|DHANILOANS|DHANI LOANS & SER...|    1020.8|   1022.01|   1022.01|  1022.01|    1022.01|   2044.02|         2|        |     1| 1098.75|     851|
|     N|    N4|  ERFLNCDI|SEC RED NCD 9.00%...|       986|    988.22|    988.22|   988.22|     988.22|   29646.6|        30|        |     1|    1050|  829.95|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
only showing top 20 rows

In [0]:

df.createOrReplaceTempView('sales')

In [0]:
spark.sql('SELECT * FROM SALES LIMIT 5').show()

+------+------+------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|MARKET|SERIES|SYMBOL|            SECURITY|PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVAL|NET_TRDQTY|CORP_IND|TRADES|HI_52_WK|LO_52_WK|
+------+------+------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|     N|    N1|  IRFC|BOND 8.00% PA TAX...|      1086|      1085|      1085|  1084.54|       1085|3371959.44|      3108|        |     8|    1194|    1050|
|     N|    N1|  JNPT|BOND 6.82% PA TAX...|      1001|    1007.1|      1015|   1007.1|       1015|     51370|        51|        |     2| 1529.99|    1000|
|     N|    N1|  NHAI|BOND 8.20% PA TAX...|   1091.38|      1092|      1092|     1087|    1089.98|3861145.49|      3544|        |    39|    1140|    1045|
|     N|    N1|  NTPC|8.41%S-R-NCD SERI...|   1198.99|      1135|      1135|     1135|       1135|    113500|       100|        |     1|    1275|  1022.1|
|     N|    N1|RECLTD|TAXFREE SEC NCD T...|   1083.54|      1088|      1088|     1085|       1085|    108530|       100|        |     2|  1184.8|    1041|
+------+------+------+--------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+

In [0]:
spark.sql("SELECT DISTINCT SERIES FROM sales").count()

Out[7]: 53

In [0]:
spark.sql("SELECT DISTINCT SERIES FROM SALES").show()

+------+
|SERIES|
+------+
|    NA|
|    N3|
|    NC|
|    N7|
|    N8|
|    N2|
|    N5|
|    N4|
|    N6|
|    N1|
|    N9|
|    NB|
|    NS|
|    NL|
|    NK|
|    NJ|
|    NX|
|    NW|
|    NP|
|    NH|
+------+
only showing top 20 rows

In [0]:
spark.sql("SELECT SERIES, SUM(OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) as  TOTAL_SALES FROM sales GROUP BY SERIES").show(100)

+------+------------------+
|SERIES|       TOTAL_SALES|
+------+------------------+
|    NA|          79628.91|
|    N3| 8348.119999999999|
|    NC|          57412.31|
|    N7|13045.900000000001|
|    N8|32583.230000000003|
|    N2|          42048.85|
|    N5|          35092.07|
|    N4|47750.659999999996|
|    N6|         105463.81|
|    N1|          21630.72|
|    N9|           32401.0|
|    NB|          28642.17|
|    YH|           4098.02|
|    NS|            4129.0|
|    NL|13611.080000000002|
|    NK|7731.4800000000005|
|    Z4|            4124.2|
|    NJ|          17155.18|
|    NX|           1275.88|
|    YS|            4530.0|
|    NW|            4356.1|
|    Z8|            4151.0|
|    YA|           1113.98|
|    NP|            5172.2|
|    NH|          18790.36|
|    NE|          67285.44|
|    NQ|            1260.0|
|    Z1|           5116.11|
|    NR|           4891.44|
|    Y6|            4164.0|
|    YV|            4146.0|
|    ND|14821.009999999998|
|    Y2|            1226.0|
|    ZJ|           4484.04|
|    Z5|            4240.0|
|    NM|            4226.6|
|    NU|            4534.4|
|    NN|           9722.58|
|    ZI|            4280.0|
|    ZF|            4030.2|
|    YP|            4320.0|
|    NY|           5670.21|
|    YQ|            4312.0|
|    YK|            4126.0|
|    Z7|            4084.0|
|    YR|            4333.0|
|    Y7|            1200.0|
|    NI|           20673.0|
|    NO|          14418.02|
|    Y9| 4474.570000000001|
|    NG|12457.630000000001|
|    NF|          17909.15|
|    Y5|            4344.0|
+------+------------------+

In [0]:
spark.sql("SELECT security,series,max(NET_TRDVAL) FROM sales GROUP BY security,series").show(10)

+--------------------+------+---------------+
|            security|series|max(NET_TRDVAL)|
+--------------------+------+---------------+
|  10.25% SRNCD SR IX|    N9|           5240|
|7.34 NCD 16FEB23 ...|    N4|       118037.8|
|7.43% TAX FREE TR...|    NH|         127200|
|7.51 NCD 16FEB28 ...|    N5|      2456326.6|
|7.64% TAX FREE TR...|    N2|      125060.45|
|7.64% TAX FREETRI...|    N8|        1458346|
|  7.74% TAX FREE NCD|    N7|      349804.56|
|   8.00% SEC RED NCD|    N2|      677372.39|
|8.10 NCD 05MAR22 ...|    N3|     1729096.92|
|8.12/8.32% TAX FR...|    NI|         835750|
+--------------------+------+---------------+
only showing top 10 rows

In [0]:
spark.sql("SELECT SERIES, (OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) as TOTAL_PRICE ,(NET_TRDVAL) as TOTAL_TRADE FROM SALES WHERE OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE>NET_TRDVAL AND NET_TRDVAL IS NOT NULL").show()

+------+-----------+-----------+
|SERIES|TOTAL_PRICE|TOTAL_TRADE|
+------+-----------+-----------+
|    N2|     4888.0|       3666|
|    N4|    4088.04|    2044.02|
|    N5|     3824.8|     1912.4|
|    N6|     5364.0|       1341|
|    NB|     3686.0|       1843|
+------+-----------+-----------+

In [0]:
spark.sql("SELECT SERIES,NET_TRDVAL FROM SALES WHERE NET_TRDVAL = (SELECT MAX(NET_TRDVAL) FROM SALES )").show()

+------+----------+
|SERIES|NET_TRDVAL|
+------+----------+
|    N4|  972888.7|
+------+----------+

In [0]:
spark.sql("SELECT MAX(CAST(OPEN_PRICE AS FLOAT)) as MAX_PRICE,MIN(CAST(OPEN_PRICE AS FLOAT)) as  MIN_PRICE FROM SALES").show()

+---------+---------+
|MAX_PRICE|MIN_PRICE|
+---------+---------+
|  11450.0|    13.75|
+---------+---------+

In [0]:
spark.sql("SELECT SERIES FROM SALES WHERE TRADES > 80").show()

+------+
|SERIES|
+------+
|    N2|
|    N3|
|    N7|
+------+

In [0]:
spark.sql("SELECT SERIES,SUM(NET_TRDVAL-NET_TRDQTY) as Difference FROM SALES GROUP BY SERIES").show(10)

+------+------------------+
|SERIES|        Difference|
+------+------------------+
|    NA|        3331953.97|
|    N3|        5894945.91|
|    NC|        2505038.79|
|    N7|        2218463.04|
|    N8|        3982020.85|
|    N2|        3674571.25|
|    N5|        5581855.67|
|    N4|3474029.2199999997|
|    N6|     1.678578209E7|
|    N1|        7499601.93|
+------+------------------+
only showing top 10 rows